# Dotfiles I don't want to commit accidentally
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache
.dir_colors
.dmenurc
.dmrc
.fehbg
.gimp-2.8
.gitconfig
.gnupg
.gtkrc-2.0
.icons
.keychain
.local
.makepkg.conf
.moc
.moonchild
.mozilla
.otp
.profile*
.ssh
.terraform.versions
.terragrunt.versions
.viminfo
.Xauthority
.Xclients
.Xdefaults
.xinitrc
.xsession-errors
.xsession-errors.old
.zcompdump
.zcompdump-nb-pc-5.7.1
.zsh_history

# Directories
bin
go
src
work
Documents
Desktop
Downloads
